/* navigation bar */
nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 10vh;
}

/* logo */
nav .logo {
  width: 6%;
  height: 85%;
  margin-right: 10%;
}

nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* links / buttons */
nav a {
  color: var(--main);
  border: 2px solid transparent;
  font-size: 1.25rem;
  font-weight: var(--fw-600);
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: border 250ms ease-in-out;
}

nav a:hover {
  border: 2px solid var(--main);
  transition: border 250ms ease-in-out !important;
}

nav a:nth-of-type(4) {
  border-top: none;
  border-left: none;
  border-right: none;
}

nav a:nth-of-type(5) {
  border: 2px solid var(--main);
  background: transparent;
}

nav a:nth-of-type(5):hover {
  background: var(--main);
  color: black;
  transition: color 350ms ease-in-out, background 250ms ease-in-out !important;
}

nav a:nth-of-type(4), nav a:nth-of-type(5) {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 350ms ease-in-out, opacity 400ms ease-in-out, border 250ms ease-in-out, color 350ms ease-in-out, background 250ms ease-in-out !important;
}

/* avatar img */
nav .img-container {
  border-radius: 50%;
  width: 3%;
  height: 55%;
  overflow: hidden;
}

nav .img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
}

/* texts */
section p {
  color: var(--main);
  font-size: 3.75rem;
  font-weight: var(--fw-400);
}

section .text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: 60%;
}

section .text-wrapper p {
  margin-bottom: 1.5rem;
}

section .text-wrapper .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 25%;
  width: 100%;
  margin-top: .75rem;
}

section .text-wrapper .container h1 {
  color: var(--main);
  font-size: 2rem;
  font-weight: var(--fw-400);
  margin-right: 2rem;
}

section .text-wrapper .container h1 span {
  margin-left: 1rem;
}

/* button */
section .text-wrapper .container a {
  background: transparent;
  color: var(--main);
  border: 2px solid var(--main);
  font-size: 1.25rem;
  font-weight: var(--fw-600);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 350ms ease-in-out, background 250ms ease-in-out;
}

section .text-wrapper .container a:hover {
  background: var(--main);
  color: black;
  transition: color 350ms ease-in-out, background 250ms ease-in-out;
}
