<body>
  <div class="background-img">
    <img #bgImg (load)="imageCaroussel(bgImg)" src="../../../assets/media/images/pitch1.jpg" alt="football pitch">
  </div>

  <nav>
    <div class="logo">
      <img src="../../../assets/media/images/logo.png" alt="logo">
    </div>

    <a [routerLink]="">Criar Jogo</a>
    <a [routerLink]="">Procurar Jogo</a>
    <a [routerLink]="">Iniciar Sessão</a>

    <div class="img-container">
      <img (click)="showButtons(button, button2)" src="../../../assets/media/images/noImgUser.jfif" alt="user avatar">
    </div>

    <a #button [routerLink]="" class="hide">Profile</a>
    <a #button2 [routerLink]="" class="hide" >Terminar Sessão</a>
  </nav>
</body>
