<body>
  <div class="background-img">
    <img #bgImg (load)="imageCaroussel(bgImg)" src="../../../assets/media/images/pitch1.jpg" alt="football pitch">
  </div>

  <nav>
    <div class="logo">
      <img src="../../../assets/media/images/logo.png" alt="logo">
    </div>

    <a [routerLink]="">Criar Partida</a>
    <a [routerLink]="">Procurar Partida</a>
    <a [routerLink]="">Iniciar Sessão</a>

    <div class="img-container">
      <img (click)="showButtons(button, button2)" src="../../../assets/media/images/noImgUser.jfif" alt="user avatar">
    </div>

    <a #button [routerLink]="" class="hide">Profile</a>
    <a #button2 [routerLink]="" class="hide">Terminar Sessão</a>
  </nav>

  <!-- intro -->
  <section>
    <p>Jogos de futebol amigáveis</p>
    <p>e competitivos</p>
  </section>

  <!-- create -->
  <section>
    <div class="text-wrapper">
      <p>A tua bola</p>
      <p>O teu campo</p>
      <p>As tuas regras</p>

      <div class="container">
        <h1>Cria a tua peladinha <span>→</span></h1>
        <a [routerLink]="">Criar Partida</a>
      </div>
    </div>
  </section>

  <!-- search -->
  <section>
    <div class="text-wrapper">
      <p>As amizades</p>
      <p>Não entram em campo</p>
      <p>És tu contra 11 até ao apito final</p>

      <div class="container">
        <h1>Procura a tua peladinha <span>→</span></h1>
        <a [routerLink]="">Ver Partidas</a>
      </div>
    </div>
  </section>


  <!-- profile -->
  <!-- <section>
    <div class="text-wrapper">
      <p>Dás uns toques?</p>
      <p>Não és tu Quem o decide</p>
      <p></p>

      <div class="container">
        <h1>Procura a tua peladinha <span>→</span></h1>
        <a [routerLink]="">Ver Partidas</a>
      </div>
    </div>
  </section> -->
</body>
