<body>
  <div class="background-img">
    <img #bgImg (load)="imageCaroussel(bgImg)" src="../../../assets/media/images/pitch1.jpg" alt="football pitch">
  </div>

  <div class="overlay"></div>

  <section #section>
    <div class="card" *ngFor="let match of matchList; let i = index">
      <div class="txt-container">
        <h1>{{match.location}} <span>➜ {{match.matchLocal}}</span></h1>
        <p>horas: {{match.startDate}} | {{match.endDate}} <span><img src="../../../assets/media/images/user 4.png" alt="jogadores"> {{match.maxPlayers}} </span></p>
        <p *ngIf="match.private; else Statement">Esta peladinha é privada </p>
        <ng-template #Statement>Peladinha pública! Código: {{match.code}} </ng-template>
      </div>

      <div class="btn-container">
        <a routerLink="['']" class="details">detalhes</a>
        <a routerLink="['']" class="join">entrar</a>
      </div>
    </div>
  </section>
</body>
