/* #logins */
form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--main);
  width: 35%;
  height: 70%;
}

/* inputs */
form input {
  font-size: 1.25rem;
  border-bottom: 2px solid rgb(218, 218, 218);
  width: 50%;
  margin-top: 10%;
  padding: 5px 10px;
  transition: padding 250ms ease-in-out, border 250ms ease-in-out;
}

#login input:nth-of-type(2) {
  margin-top: 5%;
}

form input::placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, .25);
  transition: font-size 250ms ease-in-out;
}

form input:focus {
  border-bottom: 2px solid rgb(153, 218, 255);
  padding: 10px;
  transition: all 250ms ease-in-out;
}

form input:focus::placeholder {
  font-size: 1.25rem;
  transition: font-size 250ms ease-in-out;
}

/* recover password */
#login .recover {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-top: 5px;
}

#login .recover a {
  color: rgba(0, 0, 0, 0.75);
  font-size: .75rem;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

#login .recover a:hover {
  color: rgb(0, 142, 224);
  text-decoration: underline;
  transition: all 150ms ease-in-out;
}

/* buttons */
form button {
  background: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-size: 1.25rem;
  font-weight: var(--fw-600);
  padding: 10px 15px;
  margin-top: 5%;
  cursor: pointer;
  transition: color 350ms ease-in-out, background 250ms ease-in-out;
}

form button:hover {
  background: var(--secondary);
  color: var(--main);
  transition: color 350ms ease-in-out, background 250ms ease-in-out;
}

/* separator */
#login p:before {
  content: "";
  position: absolute;
  top: -125%;
  background: var(--secondary);
  opacity: .4;
  width: 100%;
  height: 2px;
}

/* texts */
#login p {
  position: relative;
  font-size: 1rem;
  font-weight: var(--fw-500);
  text-align: center;
  margin-top: 10%;
  width: 75%;
}

#login p span {
  cursor: pointer;
  color: var(--secondary);
  font-size: 1rem;
  font-weight: var(--fw-500);
  text-decoration: underline;
  transition: all 150ms ease-in-out;
}

/* circle */
#login .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin: 3% 0 3% 0;
}

#login .circle h1 {
  font-size: 1.375rem;
  text-transform: uppercase;
}

/* social media buttons */
#login .social {
  position: relative;
  background: var(--main);
  border: 2px solid var(--secondary);
  text-decoration: none;
  width: 35%;
  height: 7.5%;
  margin-bottom: 5%;
  cursor: pointer;
  overflow: hidden;
}

#login .social:nth-of-type(2) {
  border: 2px solid #F63535;
}

#login .social::before {
  content: "";
  position: absolute;
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}

#login .social:nth-of-type(2):before {
  background-color: #F63535;

}

#login .social:hover::before {
  transform: translateX(-48.5%);
  transition: all 250ms ease-in-out;
}

#login .social:nth-of-type(1):hover::before {
  transform: translateX(-47.5%);
}


#login .social:hover .text span {
  color: var(--secondary);
  transition: all 250ms ease-in-out;
}

#login .social:nth-of-type(2):hover .text span {
  color: #F63535;
}

#login .social .text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main);
  font-size: 1rem;
  font-weight: var(--fw-600);
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}

#login .social .text span {
  color: var(--main);
  font-size: 1rem;
  font-weight: var(--fw-600);
  text-decoration: none;
  cursor: pointer;
  padding-left: 2%;
  transition: all 250ms ease-in-out;
}

#login .text::before {
  display: none;
}

/* create account */

#signup1 input:nth-of-type(1) {
  margin-top: 7.5%;
}

#signup1 h1 {
  font-size: 1.75rem;
  font-weight: var(--fw-600);
  margin-top: 5%;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5%;
  margin-top: 5%;
  width: 100%;
  height: 5px;
}

.progress-container .progress {
  width: 20%;
  height: 100%;
  background: var(--secondary);
}

#signup1 .progress-container .progress:nth-of-type(2), #signup1 .progress-container .progress:nth-of-type(3) {
  background: #d1d1d1;
}

#signup1 button:nth-of-type(1){
  background: var(--secondary);
  color: var(--main);
}

/* create account 2*/

#signup2 input {
  width: 40%;
}

#signup2 h1 {
  font-size: 1.75rem;
  font-weight: var(--fw-600);
  margin-top: 5%;
}

#signup2 .progress-container .progress:nth-of-type(3) {
  background: #d1d1d1;
}

#signup2 .box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
}

