<body>
  <div class="background-img">
    <img #bgImg (load)="imageCaroussel(bgImg)" src="../../../assets/media/images/pitch1.jpg" alt="football pitch">
  </div>

  <section>
    <form action="" method="get">
      <input type="email" name="email" placeholder="Endereço email" required>
      <input type="password" name="password" placeholder="Password" required>
      <div class="recover">
        <a [routerLink]="['']">Recuperar password</a>
      </div>
      <button>Iniciar sessão</button>

      <p>Não tem conta? <span>Registar aqui</span></p>

      <div class="circle">
        <h1>Ou</h1>
      </div>

      <a [routerLink]="['']" class="social">
        <p class="text">Iniciar com <span>Facebook</span></p>
      </a>
      <a [routerLink]="['']" class="social">
        <p class="text">Iniciar com <span>Instagram</span></p>
      </a>
    </form>
  </section>
</body>
