<body>
  <div class="background-img">
    <img #bgImg (load)="imageCaroussel(bgImg)" src="../../../assets/media/images/pitch1.jpg" alt="football pitch">
  </div>

  <section>
    <!-- login -->
    <form #loginPage #login="ngForm" id="login" (ngSubmit)="doLogin(login, loginMail, loginPass)">
      <input #loginMail ngModel type="email" name="email" placeholder="Endereço email" required>
      <input #loginPass ngModel type="password" name="password" placeholder="Password" required>
      <div class="recover">
        <a>Recuperar password</a>
      </div>
      <button type="submit">Iniciar sessão</button>

      <p>Não tem conta? <span (click)="changeForm(loginPage, signup1Page)">Registar aqui</span></p>

      <div class="circle">
        <h1>Ou</h1>
      </div>

      <a class="social">
        <p class="text">Iniciar com <span>Facebook</span></p>
      </a>
      <a class="social">
        <p class="text">Iniciar com <span>Instagram</span></p>
      </a>
    </form>

    <!-- create account #1 -->
    <form #signup1Page #signup1="ngForm" id="signup1" (ngSubmit)="doLogon(signup1, mail, username, pass, cpass, signup1Page, signup2Page)" class="hide">
      <h1>Criar conta</h1>

      <div class="progress-container">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>

      <input #mail ngModel type="email" name="email" placeholder="Endereço email" required>
      <input #username ngModel type="text" name="username" placeholder="Nome de utilizador" required>
      <input #pass ngModel type="password" value="" name="password" placeholder="Password" required>
      <input #cpass type="password" value="" name="password2" placeholder="Confirmar password" required>

      <button type="submit">Continuar</button>
    </form>

    <!-- update data -->
    <form #signup2Page #signup2="ngForm" id="signup2" (ngSubmit)="updateData(signup2, signup2Page, signup3Page)" class="hide">
      <h1>Criar conta</h1>

      <div class="progress-container">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>

      <div class="box">
        <input ngModel type="text" name="avatar" placeholder="avatar" class="hide">
        <input ngModel type="text" name="name" placeholder="Nome">
        <input ngModel type="text" name="city" placeholder="Localidade">
        <input ngModel type="text" name="gender" placeholder="Género">
        <input #foot ngModel type="text" name="bestFoot" placeholder="Pé favorito">
        <input ngModel type="number" name="height" min="0" max="300" placeholder="Altura cm ex: 172">
        <input ngModel type="number" name="weight"  min="0" max="300" placeholder="Peso kg ex: 60">
      </div>

      <button type="submit">Continuar</button>
    </form>

    <!-- update contacts -->
    <form #signup3Page #signup3="ngForm" id="signup3" (ngSubmit)="updateContact(signup3, phone)" class="hide">
      <h1>Criar conta</h1>

      <div class="progress-container">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
      </div>

      <input #phone ngModel type="number" min="910000000 " max="969999999" name="phone" placeholder="nº de telemóvel" required>
      <input ngModel type="text" name="twitter" placeholder="twitter ex: @nome">
      <input ngModel type="text" name="facebook" placeholder="facebook link">
      <input ngModel type="text" name="instagram" placeholder="instagram link">

      <button type="submit">Continuar</button>
    </form>

  </section>
</body>
